<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <div id="typing-text" style="font-family: monospace; color: #00ff00; font-size: 0.9rem; font-weight: bold; padding-left: 20px;"></div>
        
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">Toggle menu</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
