---
---
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; 
@import "minimal-mistakes"; 

/* Efecto Hover para las tarjetas */
.feature__item {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;

  &:hover {
    transform: translateY(-10px); /* La tarjeta sube un poco */
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  }
}

.feature__item img {
  border-radius: 8px;
}
