name: Sync Goodreads Reviews
on:
  schedule:
    - cron: '0 0 * * *' # Se ejecuta cada noche a las 00:00
  workflow_dispatch: # Permite ejecutarlo manualmente

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install feedparser pyyaml
      - name: Run sync script
        run: python sync_books.py
      - name: Commit and push if changed
        run: |
          git config --global user.name 'Goodreads Bot'
          git config --global user.email 'bot@jotaenece.io'
          git add _data/lecturas_goodreads.yml
          git commit -m "Update Goodreads reviews" || exit 0
          git push
